#
# Sharp Touchscreen tma340-003 configuration
#

config SHTPS_TMA3XX_FACETOUCH_DETECT
	bool "SHTPS_TMA3XX_FACETOUCH_DETECT"
	default n
	depends on SHTPS_TMA3XX_TMA340_003

config SHTPS_TMA3XX_FACETOUCH_OFF_DETECT
	bool "SHTPS_TMA3XX_FACETOUCH_OFF_DETECT"
	default n
	depends on SHTPS_TMA3XX_TMA340_003

config SHTPS_TMA3XX_VIRTUAL_KEY
	bool "SHTPS_TMA3XX_VIRTUAL_KEY"
	default n
	depends on SHTPS_TMA3XX_TMA340_003

config SHTPS_TMA3XX_VIRTUAL_KEY_MENU
	string "SHTPS_TMA3XX_VIRTUAL_KEY_MENU"
	default ":0:0:0:0"
	depends on SHTPS_TMA3XX_TMA340_003 && SHTPS_TMA3XX_VIRTUAL_KEY

config SHTPS_TMA3XX_VIRTUAL_KEY_HOME
	string "SHTPS_TMA3XX_VIRTUAL_KEY_HOME"
	default ":0:0:0:0"
	depends on SHTPS_TMA3XX_TMA340_003 && SHTPS_TMA3XX_VIRTUAL_KEY

config SHTPS_TMA3XX_VIRTUAL_KEY_BACK
	string "SHTPS_TMA3XX_VIRTUAL_KEY_BACK"
	default ":0:0:0:0"
	depends on SHTPS_TMA3XX_TMA340_003 && SHTPS_TMA3XX_VIRTUAL_KEY
